/* RESET */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  /* 2. Remove default margin */
  margin: 0;
  /* 3. Add accessible line-height */
  line-height: calc(1em + 0.5rem);
}

/* 4. Improve text rendering */
body {
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  /* display: block; */
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* CSS */

html, body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif, system-ui;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#book-container {
  /* height: 100%; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* grid-template-rows: 240px; */
  grid-auto-rows: auto;
  gap: 20px;
}

.bookCard {
  background-color: #3b2987;
  flex-direction: column;
  /* height: min-content; */
  padding: 5px 5px 30px 5px;
  border: 20px solid #4e2987;
  border-radius: 7px;
  position: relative;
}

.bookCard * {
  color: #eee;
}

.bookCard img {
  width: 25px;
  vertical-align: -7px;
  display: inline;
  margin-left: 10px;
}

.bookCard img:hover {
  filter: brightness(80%);
}

img[src="./Images/book-closed.png"] {
  width: 20px;
}

.bookCard p:nth-child(4) {
  display: inline;
}

.bookCard button {
  /* width: 100%; */
  padding: 0;
  margin: 5px 0 0 0;
  border: none;
  border-radius: 7px;
  background-color: black;
  position: absolute;
  bottom: 5px;
  right: 5px;
  left: 5px;
}